@tailwind utilities;
@tailwind base;

html,
body {
  width: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
}

.max-w-screen {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 0;
}

@screen sm {
  .max-w-screen {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@screen md {
  .max-w-screen {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@screen lg {
  .max-w-screen {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@screen xl {
  .max-w-screen {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.custom-swiper .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  opacity: 0.7;
  transition: transform 0.3s ease !important;
}

/* Customize active bullet styles */
.custom-swiper .swiper-pagination-bullet-active {
  background-color: white !important;
  width: 36px !important;
  height: 12px !important;
  border-radius: 10.5px !important;
}

.custom-swiper .swiper-pagination-bullet[data-selected='true'] {
  background: #0f172a; /* Replace with your primary.900 color */
  color: #f1f5f9; /* Replace with your primary.100 color */
  box-shadow: 0 0 0 4px rgba(147, 215, 215, 1);
}
